:root {
  --primary: rgba(151, 119, 212, 0.619);
  --secondary: #fad58b;
  --secondary: rgba(255, 255, 255, 0.25);

  --primary-bg: rgba(151, 119, 212, 0.619);
  --primary-bg-light: rgba(180, 146, 242, 0.619);

  --primary-navbar: #8b6fcf;

  --primary-dark: rgba(131, 87, 212, 0.619);
  --primary-light: rgba(200, 174, 248, 0.619);

  /* lavanda azulado */
  --alternative: #a78bfa;
  /* verde amarillento */
  --alternative-2: rgba(159, 212, 119, 0.62);
  /* verde más verde */
  --alternative-3: rgba(150, 212, 119, 0.619);
  /* verde lima */
  --alternative-4: #94cf6f;
  /* cute pink */
  --anternative-5: #ea74bf;

  --nav-bar-bg: rgba(255, 255, 255, 0.25);
  --nav-bar-box-shadow: rgba(0, 0, 0, 0.12);

  --icon-color: #444;

  --white: #ffffff;
  --black: #000000;
  --gray: #6c6c6c;

  --btn-box-shadow-primary: rgba(185, 139, 250, 0.30);
  --box-shadow-1: rgba(0, 0, 0, 0.11);


  /* Fuentes */
  --font-1: 'Syne', serif; /* Para títulos */
  --font-2: 'Outfit', sans-serif; /* Para textos */
  --font-3: 'Inter', sans-serif; /* Para textos */
  --font-accent: 'Montserrat', sans-serif; /* Para etiquetas o detalles */

}

h1,
h2,
h3
 {
  font-family: var(--font-1);
}

p,
h4 {
  font-family: var(--font-2);
}

h22 {
  text-align: left;
  margin: 10px 0;

  display: block; /* para que de el salto de linea */
  max-width: 8ch; /* aproximadamente 8 caracteres */

  font-size: 80px;
  font-weight: 600;
  font-family: var(--font-1);
  line-height: 1;
}


/* Para Chrome, Safari y Edge */
::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
html {
  scrollbar-width: none;
}

/* Para Internet Explorer */
html {
  -ms-overflow-style: none;
}